/* Coolors Exported Palette - coolors.co/85ffc7-091540-796eff-c9d7f8-646f79 */

/* HSL */
$color1: hsla(152%, 100%, 76%, 1);
$color2: hsla(227%, 75%, 14%, 1);
$color3: hsla(245%, 100%, 72%, 1);
$color4: hsla(222%, 77%, 88%, 1);
$color5: hsla(209%, 10%, 43%, 1);

/* RGB */
$color1: rgba(133, 255, 199, 1);
$color2: rgba(9, 21, 64, 1);
$color3: rgba(121, 110, 255, 1);
$color4: rgba(201, 215, 248, 1);
$color5: rgba(100, 111, 121, 1);