/* Coolors Exported Palette - coolors.co/85ffc7-091540-796eff-c9d7f8-646f79 */
// This is the primary and secondary colour palettes as described in the PSD styleguide and in _color_palette.scss

// Primary Palette
/* HSL */
$green: hsla(152%, 100%, 76%, 1);
$darkblue: hsla(227%, 75%, 14%, 1);
$purple: hsla(245%, 100%, 72%, 1);
$lightgrey: hsla(222%, 77%, 88%, 1);
$bodygrey: hsla(209%, 10%, 43%, 1);

/* RGB */
$green: rgba(133, 255, 199, 1);
$darkblue: rgba(9, 21, 64, 1);
$purple: rgba(121, 110, 255, 1);
$lightgrey: rgba(201, 215, 248, 1);
$bodygrey: rgba(100, 111, 121, 1);

/* HEX */
$green: #85ffc7;
$darkblue: #091540;
$purple: #796eff;
$lightgrey:#c9d7f8;
$bodygrey:#646f79;

