/*----------------------------------------------------------------------
  * Konectpal Variables - Responsive Website Template version v1.0
  * Copyright 2020 Fred Siika
------------------------------------------------------------------------*/

// $root-path:             "../../";

// Breakpoints
// =======================================================

// $xs:                    0;
// $sm:                    576px;
// $md:                    768px;
// $lg:                    992px;
// $xl:                    1200px;

// $grid-breakpoints: (
//     xs:                 $xs,
//     sm:                 $sm,
//     md:                 $md,
//     lg:                 $lg,
//     xl:                 $xl
// ) !default;

// =======================================================
// Color System
// =======================================================

// Stylelint-disable
// =======================================================

// $white:                 #fff !default;
// $white-soft:            rgba($white, 0.1) !default;
// $dark:                  #151b26 !default;
// $dark-soft:             rgba($dark, .4) !default;
// $darker:                #181515 !default;
// $header-color:          #5a5757 !default;

// Grays
// =======================================================

// $gray-100:              #f5f8fb !default;
// $gray-150:              #bfc3ca !default;
// $gray-200:              #8f95a0 !default;
// $gray-300:              #e3e6f0 !default;
// $gray-400:              #d4d7dd !default;             
// $gray-600:              #8c98a4 !default;
// $gray-700:              #646f79 !default;

// Gray Palettes
// =======================================================

// $darkgrey                 : #2c3643 !default
// $titlegrey                : #3b444f !default
// $bodygrey                 : #67747c !default
// $lightgrey                : #99a9b3 !default
// $subduedgrey              : #dbe6ec !default

// Primary Palette
// =======================================================
/* Coolors Exported Palette - coolors.co/85ffc7-091540-796eff-c9d7f8-646f79 */

$green                     : #85ffc7 !default;
$darkblue                  : #091540 !default;
$purple                    : #796eff !default;
$lightgrey                 : #c9d7f8 !default;
$darkgrey                  : #646f79 !default;
$teal                      : #0FDEBD !default;
$yellow                    : #feef6d !default;
$orange                    : #ffc83f !default;
$red                       : #fa5e5b !default;
$plum                      : #bf538d !default;

// Secondary Palette
// =======================================================
$mauve                     : #684e79 !default;
$pink                      : #ff708e !default;
$darkcyan                  : #47a899 !default;
$softblue                  : #8abee5 !default;
$softgreen                 : #c7e6aa !default;
$beige                     : #cfcbaf !default;
$maroon                    : #582c2b !default;
$darkred                   : #841e1b !default;


// Color List
// =======================================================

// $color-palette-names: "darkgray" "titlegray" "bodygray" "lightgray" "subduedgray" "darkblue" "navblue" "lpblue" "linkblue" "teal" "green" "yella" "orange" "red" "plum" "mauve" "pink" "darkcyan" "softblue" "softgreen" "beige" "maroon" "darkred";
// $color-palette: $darkgray $titlegray $bodygray $lightgray $subduedgray $darkblue $navblue $lpblue $linkblue $teal $green $yella $orange $red $plum $mauve $pink $darkcyan $softblue $softgreen $beige $maroon $darkred;

// Logical Theme Color:
// =======================================================
$primary:               #85ffc7 !default;
$primry-soft:           rgba($primary, .1) !default;
$secondary:             #646f79 !default;
$success:               #85ffc7 !default;
$info:                  #00dffc !default;
$warning:               #ffbc42 !default;
$danger:                #da4b48 !default;
$light:                 #f5f8fb !default;


// Physical Theme Color
// =======================================================
$blue:                  #1c6be1 !default;
$lightblue:              #00dffc !default;
$green:                 #85ffc7 !default;
$darkblue:              #091540 !default;
$purple:                #796eff !default;
$lightgrey:             #c9d7f8 !default;
$darkgrey:              #646f79 !default;

// Social Network Colors
// =======================================================
$facebook:              #3b5998 !default;
$google:                #d14130 !default;
$twitter:               #1da1f2 !default;
$instagram:             #3f729b !default;
$github:                #24292e !default;

// Social Network Colors:
// =======================================================
$social-network-colors: () !default;
$social-network-colors: map-merge((
  "facebook":           $facebook,
  "google":             $google,
  "twitter":            $twitter,
  "instagram":          $instagram,
  "github":             $github
), $social-network-colors);

// Theme Colors
// =======================================================
$theme-colors: () !default;
$theme-colors: map-merge((
  "blue":               $blue,
  "lightblue":          $lightblue,
  "green":              $green,
  "darkblue":           $darkblue,
  "purple":             $purple,
  "lightgrey":          $lightgrey,
  "darkgrey":           $darkgrey,
  "primary-soft":       $primary-soft,
  "white-soft":         $white-soft,
  "dark-soft":          $dark-soft,
), $theme-colors);
// Stylelint-enable


// Custom Setup
// =======================================================
//@import "user-variables";


